BEARER_TOKEN= # kubectl create token radix-cicd-canary -n radix-cicd-canary

SUITE_LIST=Happy path
PRETTY_PRINT=yes
LOG_LEVEL=debug

# Possibly use http://localhost:3002 if you want to use local API server
# RADIX_API_SERVER_URL=http://localhost:3002